/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bb28ff 40%,
    #41d1ff 
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #fe34f4 30%,
    #4664eb 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(50px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(60px);
  }
}

.button:hover {
  background-color: #34f8f8;
  transform: scale(0.8);
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 0.25rem;
}

/* config css */
/* === NAV BAR ITEMS HOVER === */
.VPNavBarMenuLink:hover {
  font-weight: bold;
  color: #ec0505  !important; 
  text-decoration: underline;
  transition: all 0.3s ease;
}

/* === SITE TITLE HOVER (GEE Guide) === */
.VPNavBarTitle .title:hover {
  color: #06aee0;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* === SEARCH BAR BORDER ON FOCUS === */
.DocSearch-Button:hover,
.DocSearch-Button:focus {
  /* border-color: #df1515; */
  box-shadow: 0 0 0 2px #ff0000;
  transition: all 0.3s ease;
}

/* FOOTER BACKGROUND AND HOVER  */
.VPFooter:hover {
  background-color: #d6e4df;
  color: #0075eb;
}

